<header>
  <div class="topbar round">
    <p>Tel: 3153985990 (Bogota, Colombia) | Mail: info@yoptic.com</p>
    <ul class="soporte">
      <li><%= link_to "Soporte tecnico", support_path %></li>
    </ul>
    <ul class="acceso">
    <li><a href="#">Login</a></li>
    </ul>
    <br class="clear" />
  </div>

  <div class="topnav">
      <ul>
        <li><%= link_to "Contactenos", contact_path %></li>
        <li><%= link_to "Noticias", news_path %></li>
        <li><%= link_to "Servicios", services_path %></li>
        <li><%= link_to "Plataforma", products_path %>
        <ul>
            <li><%= link_to "Ediciones", editions_path %></li>
            <li><%= link_to "Beneficios", benefits_path %></li>
          </ul></li>
         <li><%= link_to "Compania", about_path %></li>
      </ul>
    </div>

      <div class="logo">
      <%logo = image_tag("logo.png", :alt => "Logo", :class => "")%>
      <%= link_to logo, root_path %>
    </div>
  
    <br class="clear" />

</header>
