<!DOCTYPE html">
<html>
  <head>
    <title>Yoptic <%= @title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheet' %>
  </head>
  <body>
    <div class="container">
      <%= render 'layouts/header' %>
      <section>
        <%= yield %>
      </section>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>